<!DOCTYPE html>
<html>
<head>
  <title>TimelineRails</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'shared/main_nav' %>

<% if flash[:success] %>
	<div class="alert success">
		<%= flash[:success] %>
	</div>
<% end %>

<% if flash[:errors] %>
	<% flash[:errors].each do |error| %>
		<div class="alert error">
			<%= error %>
		</div>
	<% end %>
<% end %>

<%= yield %>

</body>
</html>
